@import url(common.css); /*导入外部css文件 放到最上方*/
box-shadow: 0 3px 10px 0 #999;/*框影*/
text-shadow: 0 0 50px #eb1d21;
font: 12px Times New Roman; 
font-family:Microsoft Yahei
font-family:"黑体";
font-family: Arial;
font-family: "mincho" !important;
font: 12px "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
text-decoration:underline;/*去掉超链接下划线*/
background:url(../img/iPhone.png) -1px -234px no-repeat;/* 第一个参数是上下，第二个参数是左右 */
list-style-type:none;}/*去掉ul li的标志符号*/
text-indent:-999em;;/*文字间的距离---999em主要是隐藏图片文字。例如caption的值有什么意义啊？*/
input[type="text"]:focus{outline:0;}/*获取焦点时，没有外面的状态框*/
cursor: pointer;/*{not-allowed, normal, default, crosshair, wait}  */
font-weight: normal;/*{400, light, bold, }*/
vertical-align:middle;/* 通常图片和文字在一起时，想要让文字相对于图片居中显示, 可以这么设置 */
.banner:first-child{margin-top: 47px;}
overflow:hidden;
/* 在鼠标悬浮在按钮上的时候，使用动画，颜色变化 */
.excelBtn:hover{border-style:solid; border-width:1px 1px 1px 1px;border-color:#0086b3;color:#fff;animation:myExcel 0.8s; -webkit-animation:myExcel 0.8s;-o-animation:myExcel 0.8s;-moz-animation:myExcel 0.8s;background:#0086b3;}
@keyframes myExcel{from{background:#80dfff;border-color:#80dfff;} to{background:#0086b3;border-color:#0086b3;}}
/*当一个元素内，文字不垂直居中时，可以设置父元素与子元素的高度形同，这样文字可以居中显示了*/
height:100px; line-height:100px;
page-break-after:always;/*设置在表格元素之后始终进行分页的分页行为*/
display:table-cell;/*{block, inline-block, inline, none,}*/
/*border的三个属性设置*/
border-style:solid;border-color:#a8a8a8;border-width:0 1px 0 1px;
border-top:1px solid #a8a8a8;

text-align:center;
/*清楚浮动方法*/
<div class="clear"></div>
.clear{ height:0px;font-size:0;clear:both;}
word-break: break-all;/*如果单词过长，在靠着父容器时候，直接在单词中间断开了。默认不加这些属性前，浏览器默认会将整个单词换行*/
word-wrap:break-word;/*不仅将一个单词拆开，而且会填充它之前的空余的空间*/
letter-spacing: -2px;/*字体间距*/
margin：0 auto;/*父容器的子元素水平居中*/
element:hover {top：-1px;}/*悬浮在按钮上，里面的文字向上动*/
input:focus{}而不是input :focus{}
textarea{resize: none; width: 100%; overflow: auto;}/*文本框大小不变*/

